# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno / datos sensibles
.env

# Django
*.log
db.sqlite3
staticfiles/
media/

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
